.title {
	max-width: 600px;
	margin: 2rem auto 1.5rem;
	font-size: 2.5rem;
	text-align: center;
	white-space-collapse: break-all;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-bottom: 1.5rem;
	font-size: 0.75rem;
	color: var(--foreground);

	a {
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}

.date {
	display: block;
	margin-bottom: 3rem;
	font-size: 0.875rem;
	text-align: center;
	color: #808080;

	a {
		text-decoration: underline wavy;
		text-decoration-color: #ff6347;
	}
}

.loader {
	width: 40px;
	height: 40px;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;

	&::before {
		content: "";
		box-sizing: border-box;
		position: absolute;
		inset: 0px;
		border-radius: 50%;
		border: 5px solid #444;
		animation: prixClipFix 2s linear infinite;
	}
}

.tags_container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin: 1rem 0;

	.tag {
		padding: 3px 5px;
		border: 1px solid var(--foreground);
		border-radius: 3px;

		p {
			font-size: 0.875rem;
		}
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

@media (min-width: 768px) {
	.title {
		font-size: 3.5rem;
	}
}
