.posts {
	margin-top: 2.5rem;
}

.post {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-bottom: 0.3rem;

	span {
		color: #808080;
	}

	a {
		text-decoration: underline;
		color: var(--foreground);
	}
}
